<nav class="navbar navbar-default">
  <div style="background-color:cyan;border-bottom: 2px solid black;width:100%;display:flex" class="container-fluid">
    <div style="width:50%;display:flex">
      <a style="color:orange;margin:auto" class="navbar-brand" href="/people">
        Homepage
      </a>
    </div>
    <div style="width:50%;display:flex">
      <a style="color:blue;margin:auto" class="navbar-brand" href="/people/new">
        New Person Listing
      </a>
    </div>
  </div>
</nav>
