<form style="width:20%;margin:auto" action="/people" method="POST">
  <div class="form-group">
    <label for="drinkName">First Name</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="First Name" name="first_name">
  </div>
  <div class="form-group">
    <label for="yearCreated">Last Name</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Last Name" name="last_name">
  </div>
  <div class="form-group">
    <label for="color">Email</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label for="color">Gender</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Gender" name="gender">
  </div>
  <div class="form-group">
    <label for="color">IP Address</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="IP Address" name="ip_address">
  </div>

  <button type="submit" class="btn btn-default">Submit Your Person!</button>
